.viewport-height {
    height: 100vh;
}

.outerdiv ul {
    padding: 0;
    margin: 0;
}

.bg-color {
    background-color: grey;
}

.bg-color h5 {
    color: #FFF;
}

.addlist input {
    width: 65%;
    padding: 0.3rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.pr-60 {
    padding-right: 50%;
}

.citylist ul li div {
    cursor: pointer;
}

.addlist input:focus {
    outline: none !important;
}

.btn-custom {
    border: 1px solid;
    padding: 0.2rem 1rem;
}

.addbtn:hover {
    background: #Fff;
    color: #00a1ff;
    border-radius: 4px;
    border: 1px solid #00a1ff;
}

.citylist li {
    border-bottom: 1px solid #000;
    padding-top: 1rem;
}

.citylist li span, .citylist li i {
    cursor: pointer;
}

.citylist li i {
    font-size: 20px;
    font-weight: bold;
}

.clear {
    position: absolute;
    bottom: 2rem;
    right: 1rem;
}

.addbtn {
    background: #00a1ff;
    color: #FFF;
    border-radius: 4px;
    border: 1px solid #00a1ff;
}

.addbtn:focus {
    outline: none ! important;
}

.h-85 {
    height: 85%!important;
}

.h-80 {
    height: 70%!important;
}

.posabs {
    POSITION: absolute;
    right: 1rem;
    top: 3rem;
    cursor: pointer;
}

.clear .btn:hover {
    background-color: #000;
    color: #FFf;
}

.posabs i {
    font-size: 1.3rem;
}

.headings {
    color: #FFF;
}

/*Custom modal*/

.modalc {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.active{
    font-weight:bold !important;
}
/* Modal Content/Box */

.modal-contentc {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    text-align: center;
    border-radius: 4px;
}

.modal-contentc i {
    color: red;
    font-size: 2rem;
}

/* The Close Button */

.closec {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closec:hover, .closec:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media  (min-width: 768px) and (max-width: 1280px) {
    .addlist input{
        width: 60% !important;
    }
    .citylist ul li i{
        font-size: 15px !important;
    }
  }